/*===========================================================*/
/*【】*/
/*===========================================================*/




/*===========================================================*/
/*【Loading】*/
/*===========================================================*/

/* Loading背景画面設定*/
#splash {
    /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10000;
	text-align:center;
	color:#fff;
}
/* Loading画像中央配置*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 100%;
}
/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: rgb(0, 0, 0);
    transition: all 3.0s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}
/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}







/*===========================================================*/
/*【モーダルウィンドウ】*/
/*===========================================================*/

/*infoエリアをはじめは非表示*/
#info{
	display: none;
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
}
.modaal-content-container {
    background-color: rgba(255, 130, 226, 0.5);
    width: 100%;
    height: 70vh;
    line-height: 2.0;
    overflow: hidden;   /*文字の飛び出しを防ぐ*/
    font-family: serif;
    
    @media (max-width: 768px) {
        line-height: 1.5;
        height: 60vh;
    }
}
.modaal-content-container > h1 {
    width: 100%;
    height: auto;
    color: red;

    @media (max-width: 768px) {
        
    }
}
.modaal-content-container > h2 {
    width: 100%;
    height: auto;
    font-size: 30px;
    font-weight: bold;
    
    @media (max-width: 768px) {
        font-size: 19px;
        margin: 5px auto 5px;
    }
}
.modaal-content-container > p {
    width: 70%;
    height: auto;
    font-family: monospace;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128);
    margin: 10% auto 5%;
    padding: 30px;
    display: flex;
    float: left;
    
    @media (max-width: 768px) {
        width: 100%;
        font-size: 14px;
        margin: 15% auto 5%;
        padding: 10px;
    }
}

.modaal-content-container > h3 {
    width: 100%;
    height: auto;
    text-align: right;
    display: flex;

    @media (max-width: 768px) {
        font-size: 10px;
    }
}

/*モーダルの横幅を変更したい場合*/
.modaal-container{
    max-width: 600px;
}
/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background: black;
}





/*===========================================================*/
/*【グローバルナビゲーション】*/
/*===========================================================*/

#g-nav.panel-active{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
	top: 0;
	width:100%;
    height: 100vh;
}

/*丸の拡大*/
.circle-bg{
    position: fixed;
	z-index:3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*丸のスタート位置と形状*/
	transform: scale(0);/*scaleをはじめは0に*/
    top:calc(50% - 50px);/*50%から円の半径を引いた値*/
    left:calc(50% - 50px);/*50%から円の半径を引いた値*/
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circle-active{
	transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*【背景】ナビゲーション展開時*/
#g-nav-list{
    display: none;/*はじめは非表示*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background:rgba(6, 25, 37, 0.9);
}

#g-nav.panel-active #g-nav-list{
    display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
	opacity: 0;/*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panel-active ul {
    opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panel-active ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

/*リストのレイアウト設定*/
#g-nav li{
	text-align: center; 
	list-style: none;
}

/*【HOME】【AbOUT】【PICTURES】・・・*/
#g-nav li a{
    font-size: 2rem;
    line-height: 3.0;
    color: white;
    text-decoration: none;
    padding:10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(255, 255, 255, 0.5);

    @media (max-width: 768px) {
        font-size: 1.3rem;
        line-height: 1.5;
        color: white;
        text-decoration: none;
        padding:10px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
        text-shadow: 2px 2px 2px rgb(255, 255, 255, 0.5);
    }
}
#g-nav li a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    transform: scale(1.1);
}

/*【3本線の「ボックス」】*/
.open-btn{
    position:fixed;
    top: 2.0%;
    right: 3%;
    z-index: 9999;/*ボタンを最前面に*/
    cursor: pointer;
    width: 70px;
    height:70px;
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    
    @media (max-width:768px) {
    position:fixed;
    top: 2.3%;
    right: 6%;
    z-index: 9999;
    cursor: pointer;
    width: 50px;
    height:50px;
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    }
}
/*【3本線の「文字（三）」】*/	
.open-btn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 5px;
    border-radius: 2px;
    background-color: white;
    width: 60%;

    @media (max-width:768px) {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background-color: white;
        width: 45%;
    }
}
.open-btn span:nth-of-type(1) {
    top: 20px;

    @media (max-width:768px) {
        top:15px;	
    }
}
.open-btn span:nth-of-type(2) {
    top:35px;
    
    @media (max-width:768px) {
        top:23px;	
    }
}
.open-btn span:nth-of-type(3) {
    top:49px;

    @media (max-width:768px) {
        top:31px;	
    }
}
/* 【×ボタン】 */
.open-btn.active span:nth-of-type(1) {
    top: 28px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;   /*サイズを調整*/

    @media (max-width:768px) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }
}
.open-btn.active span:nth-of-type(2) {
    opacity: 0;
}
.open-btn.active span:nth-of-type(3){
    left: 18px;
    top: 40px;
    width: 50%;
    transform: translateY(-6px) rotate(45deg);

    @media (max-width:768px) {
        left: 18px;
        top: 30px;
        width: 30%;
        transform: translateY(-6px) rotate(45deg);
    }
}



/*===========================================================*/
/*【アコーディオン】*/
/*===========================================================*/
/*アコーディオン全体*/
.accordion-area{
    list-style: none;
    width: 100%;
    max-width: 900px;
    margin:0 auto;
}

.accordion-area li{
    margin: 100px 0;
}

.accordion-area section {
    width: auto;
    height: auto;
}

/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    /* font-size:1rem; */
    /* font-weight: normal; */
    /* padding: 3% 3% 3% 50px; */
    transition: all .5s ease;

    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
    padding: 5%;
    font-size: 130%;
    color: gray;
    font-weight: bold;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #00ffbf;
    border: #00ffbf 1px solid;
    
}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);
    
}
.title::after{    
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}
/*closeというクラスがついたら形状変化*/
.title.close::before{
	transform: rotate(45deg);
}

.title.close::after{
	transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
    line-height: 2.0;
	margin:0 3% 3% 3%;
    padding: 3%;
}









/* お洒落なボックスシャドウ */
/* box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5); */


html, body {
    width: auto;
    height: auto;
    margin: auto;
    font-family: serif;
    background-color: rgb(16, 35, 51);
    color: white;
}

/*【ヘッダー】*/
header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background:rgba(6, 25, 37, 0.9);
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5);
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
}

.about > h1 {
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5);
    font-size: 5rem;
    color: gray;
    padding: 1rem 2rem;

    @media(max-width: 768px) {
        padding: 1rem;
        font-size: 3rem;
    }
}

.main-title > h3 {
    text-shadow: 1px 1px 2px rgb(255, 255, 255, 0.5);
    color: gray;
    font-size: 3rem;
    margin: 10% 20% 5% 20%;

    @media(max-width:768px) {
    font-size: 1.8rem;
    margin: 15% 10% 5% 10%;
}
}

h4 {
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
    padding: 5%;
    font-size: 130%;
    color: gray;
    font-weight: bold;
    text-align: center;

    @media (max-width:768px) {
        
    }
}

.li {
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
    margin: 10% 20% 10% 20%;

    @media(max-width:768px) {
        margin: 10% 5% 10% 5%;
    }
}
.li > p {
    line-height: 2.0;
    padding: 5%;
    margin: 0% 5% 5% 5%;

    @media(max-width:768px) {
        line-height: 1.8;
        padding: 5% 5% 5% 5%;
        font-size: 15px;
    }
}
.li > p > span {
    color: rgb(255, 0, 0);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px 0 5px 0;
    font-size: 110%;
}
.li > .box > p > span {
    color: rgb(255, 0, 0);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px 0 5px 0;
    font-size: 110%;
}



/*【プロフィール欄】*/
.photo-box {
    /* border: solid 1px red; */
    /* background-color: rgba(0, 255, 166, 0.1); */
    border-radius: 10px;
    width: auto;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media(max-width:768px) {
        
    }
}

.profile-sentence {
    width: 70%;
    height: auto;
    margin: auto 3%;
    padding: 1%;
    border-radius: 10px;
    border: solid 1px rgba(255, 255, 255, 0.1);

    @media (max-width:768px) {
        font-size: 10px;
    }
}

.profile-sentence > h5 {
    line-height: 2.0;
    font-size: 16px;

    @media(max-width:768px) {
        font-size: 12px;
    }
}

.profile-sentence > h6 {
    font-size: 1rem;
    float: right;
    margin: 0px 20px 5px 0px;

    @media(max-width: 768px){
        font-size: 10px;
        text-decoration: underline;
    }
}


.photo-box > img {
    /* border: solid 1px red; */
    width: 20%;
    height: 20%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    box-shadow: 4px 4px 5px rgb(0, 0, 0);

    @media(max-width:768px) {
        
    }
}

/*【マーカー線】*/
.highlight-marker {
    position: relative;
    display: inline-block;
    z-index: 0; /* 追加 */
}
.highlight-marker::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    height: 60%;
    /* background-color: rgba(157, 188, 249); */
    background-color: rgb(0, 255, 204);
    z-index: -1;
    opacity: 0.8;
}
@media (max-width: 768px) {
    .highlight-marker::before {
    opacity: 0.5;
    }
}





/* プロフィール詳細ボタン */
.profile-html {
    line-height: 1.5;
    padding: 5%;
    text-align: center;

    @media (max-width:768px) {
        font-size: 10px;
        text-align: right;
    }
}
.profile-html > a {
    color: white;
    opacity: 0.5;
    
    @media(max-width:768px) {
        
    }
}



/*===========================================================*/
/*【画像の自動切り替え】*/
/*===========================================================*/

/*一定時間で画像を自動で切り替える*/
.image-switch {
    object-fit: cover;
}
@media(max-width: 768px) {
        .image-switch {
            width: 1rem;
            height: 1rem;
        }
    }


/*===========================================================*/
/*【波紋が広がる】*/
/*===========================================================*/
    /* 波紋の位置 */
.circle {
    text-align: center;
    position: relative;
    top: 110px;
    left: -30%;
    opacity: 0.7;
    @media(max-width:768px) {
        top: -60px;
        left: -30%;
    }
}
/*== 🔵【波紋】無限に波紋が広がる */
.btnripple2{
    /*波紋の基点とするためrelativeを指定*/
	position: relative;
    /*波紋の形状*/
	display:inline-block;
	width:100px;
	height:100px;
	border-radius: 50%;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
}

/*hoverした際の背景色の設定*/
/* .btnripple2:hover{
	background:#666;	
} */

/*波形を2つ設定*/
.btnripple2::after,
.btnripple2::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -25%;
    top: -25%;
    /*波形の形状*/
    border: 0.5px solid #25aad6;
    box-shadow: 0px 0px 10px rgba(6, 226, 255, 0.5);
    /* border: 0.5px solid #363d61; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 0.5;
    /*波形の広がる速度を調整*/
    animation:50s circleanime linear infinite;
}

/*波形の2つ目は5.0秒遅らせてアニメーション*/
.btnripple2::before {
    animation-delay: 0.01s; 
}

/*波形のアニメーション*/
@keyframes circleanime{
	0%{
	transform: scale(0);
	}
	100%{
	transform: scale(5.0);
	opacity: 0;
	}

}



/* コピーライト */
footer > p {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    font-size: 2rem;
    color: white;
    background-color: #061925e6;
    text-align: center;
    font-weight: bold;

    /* レスポンシブ対応 */
    @media (max-width: 768px) {
        padding: 1rem 0;
        font-size: 15px;
    }
}


/* ホームに戻る */
.return > a {
    width: 10%;
    height: auto;
    top: 1.5rem;
    right: 3%;
    font-size: 1.5rem;
    position: fixed;
    text-align: center;
    z-index: 1;
    opacity: 0.6;

    @media (max-width: 768px) {
        top: 1.5rem;
        right: 5%;
        font-size: 0.8rem;
    }
}
.btn {
    height: auto;
    display: inline-block;
    padding: 0.8em 3em;
    background-color: #3e4885;
    box-shadow: 0 5px 0 #323966;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transform: scale(0.9);
    box-shadow: 4px 4px 5px rgb(0, 0, 0);
}
.btn:hover {
    color: #fff;
    background-color: #252fa2;
    transform: scale(1.0);
}
.btn:active {
    box-shadow: none;
    transform: translateY(4px);
}

/*===========================================================*/
/*【】*/
/*===========================================================*/




/*===========================================================*/
/*【Loading】*/
/*===========================================================*/

/* Loading背景画面設定*/
#splash {
    /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10000;
	text-align:center;
	color:#fff;
}
/* Loading画像中央配置*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 100%;
}
/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: rgb(0, 0, 0);
    transition: all 3.0s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}
/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}







/*===========================================================*/
/*【モーダルウィンドウ】*/
/*===========================================================*/

/*infoエリアをはじめは非表示*/
#info{
	display: none;
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
}
.modaal-content-container {
    background-color: rgba(255, 130, 226, 0.5);
    width: 100%;
    height: 70vh;
    line-height: 2.0;
    overflow: hidden;   /*文字の飛び出しを防ぐ*/
    font-family: serif;
    
    @media (max-width: 768px) {
        line-height: 1.5;
        height: 60vh;
    }
}
.modaal-content-container > h1 {
    width: 100%;
    height: auto;
    color: red;

    @media (max-width: 768px) {
        
    }
}
.modaal-content-container > h2 {
    width: 100%;
    height: auto;
    font-size: 30px;
    font-weight: bold;
    
    @media (max-width: 768px) {
        font-size: 19px;
        margin: 5px auto 5px;
    }
}
.modaal-content-container > p {
    width: 70%;
    height: auto;
    font-family: monospace;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128);
    margin: 10% auto 5%;
    padding: 30px;
    display: flex;
    float: left;
    
    @media (max-width: 768px) {
        width: 100%;
        font-size: 14px;
        margin: 15% auto 5%;
        padding: 10px;
    }
}

.modaal-content-container > h3 {
    width: 100%;
    height: auto;
    text-align: right;
    display: flex;

    @media (max-width: 768px) {
        font-size: 10px;
    }
}

/*モーダルの横幅を変更したい場合*/
.modaal-container{
    max-width: 600px;
}
/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background: black;
}





/*===========================================================*/
/*【グローバルナビゲーション】*/
/*===========================================================*/

#g-nav.panel-active{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
	top: 0;
	width:100%;
    height: 100vh;
}

/*丸の拡大*/
.circle-bg{
    position: fixed;
	z-index:3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*丸のスタート位置と形状*/
	transform: scale(0);/*scaleをはじめは0に*/
    top:calc(50% - 50px);/*50%から円の半径を引いた値*/
    left:calc(50% - 50px);/*50%から円の半径を引いた値*/
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circle-active{
	transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*【背景】ナビゲーション展開時*/
#g-nav-list{
    display: none;/*はじめは非表示*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background:rgba(6, 25, 37, 0.9);
}

#g-nav.panel-active #g-nav-list{
    display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
	opacity: 0;/*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panel-active ul {
    opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panel-active ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

/*リストのレイアウト設定*/
#g-nav li{
	text-align: center; 
	list-style: none;
}

/*【HOME】【AbOUT】【PICTURES】・・・*/
#g-nav li a{
    font-size: 2rem;
    line-height: 3.0;
    color: white;
    text-decoration: none;
    padding:10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(255, 255, 255, 0.5);

    @media (max-width: 768px) {
        font-size: 1.3rem;
        line-height: 1.5;
        color: white;
        text-decoration: none;
        padding:10px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
        text-shadow: 2px 2px 2px rgb(255, 255, 255, 0.5);
    }
}
#g-nav li a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    transform: scale(1.1);
}

/*【3本線の「ボックス」】*/
.open-btn{
    position:fixed;
    top: 2.0%;
    right: 3%;
    z-index: 9999;/*ボタンを最前面に*/
    cursor: pointer;
    width: 70px;
    height:70px;
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    
    @media (max-width:768px) {
    position:fixed;
    top: 2.3%;
    right: 6%;
    z-index: 9999;
    cursor: pointer;
    width: 50px;
    height:50px;
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    }
}
/*【3本線の「文字（三）」】*/	
.open-btn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 5px;
    border-radius: 2px;
    background-color: white;
    width: 60%;

    @media (max-width:768px) {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background-color: white;
        width: 45%;
    }
}
.open-btn span:nth-of-type(1) {
    top: 20px;

    @media (max-width:768px) {
        top:15px;	
    }
}
.open-btn span:nth-of-type(2) {
    top:35px;
    
    @media (max-width:768px) {
        top:23px;	
    }
}
.open-btn span:nth-of-type(3) {
    top:49px;

    @media (max-width:768px) {
        top:31px;	
    }
}
/* 【×ボタン】 */
.open-btn.active span:nth-of-type(1) {
    top: 28px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;   /*サイズを調整*/

    @media (max-width:768px) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }
}
.open-btn.active span:nth-of-type(2) {
    opacity: 0;
}
.open-btn.active span:nth-of-type(3){
    left: 18px;
    top: 40px;
    width: 50%;
    transform: translateY(-6px) rotate(45deg);

    @media (max-width:768px) {
        left: 18px;
        top: 30px;
        width: 30%;
        transform: translateY(-6px) rotate(45deg);
    }
}



/*===========================================================*/
/*【アコーディオン】*/
/*===========================================================*/
/*アコーディオン全体*/
.accordion-area{
    list-style: none;
    width: 100%;
    max-width: 900px;
    margin:0 auto;
}

.accordion-area li{
    margin: 100px 0;
}

.accordion-area section {
    width: auto;
    height: auto;
}

/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    /* font-size:1rem; */
    /* font-weight: normal; */
    /* padding: 3% 3% 3% 50px; */
    transition: all .5s ease;

    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
    padding: 5%;
    font-size: 130%;
    color: gray;
    font-weight: bold;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #00ffbf;
    border: #00ffbf 1px solid;
    
}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);
    
}
.title::after{    
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}
/*closeというクラスがついたら形状変化*/
.title.close::before{
	transform: rotate(45deg);
}

.title.close::after{
	transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
    line-height: 2.0;
	margin:0 3% 3% 3%;
    padding: 3%;
}









/* お洒落なボックスシャドウ */
/* box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5); */


html, body {
    width: auto;
    height: auto;
    margin: auto;
    font-family: serif;
    background-color: rgb(16, 35, 51);
    color: white;
}

/*【ヘッダー】*/
header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background:rgba(6, 25, 37, 0.9);
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5);
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
}

.about > h1 {
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5);
    font-size: 5rem;
    color: gray;
    padding: 1rem 2rem;

    @media(max-width: 768px) {
        padding: 1rem;
        font-size: 3rem;
    }
}

.main-title > h3 {
    text-shadow: 1px 1px 2px rgb(255, 255, 255, 0.5);
    color: gray;
    font-size: 3rem;
    margin: 10% 20% 5% 20%;

    @media(max-width:768px) {
    font-size: 1.8rem;
    margin: 15% 10% 5% 10%;
}
}

h4 {
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
    padding: 5%;
    font-size: 130%;
    color: gray;
    font-weight: bold;
    text-align: center;

    @media (max-width:768px) {
        
    }
}

.li {
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
    margin: 10% 20% 10% 20%;

    @media(max-width:768px) {
        margin: 10% 5% 10% 5%;
    }
}
.li > p {
    line-height: 2.0;
    padding: 5%;
    margin: 0% 5% 5% 5%;

    @media(max-width:768px) {
        line-height: 1.8;
        padding: 5% 5% 5% 5%;
        font-size: 15px;
    }
}
.li > p > span {
    color: rgb(0, 255, 191);
    font-weight: bold;
    background-color: rgb(255, 255, 255, 0.2);
    padding: 2px 0 5px 0;
    font-size: 110%;
}
.li > .box > p > span {
    color: rgb(0, 255, 191);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px 0 5px 0;
    font-size: 110%;
}



/*【プロフィール欄】*/
.photo-box {
    /* border: solid 1px red; */
    /* background-color: rgba(0, 255, 166, 0.1); */
    border-radius: 10px;
    width: auto;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media(max-width:768px) {
        
    }
}

.profile-sentence {
    width: 70%;
    height: auto;
    margin: auto 3%;
    padding: 1%;
    border-radius: 10px;
    border: solid 1px rgba(255, 255, 255, 0.1);

    @media (max-width:768px) {
        font-size: 10px;
    }
}

.profile-sentence > h5 {
    line-height: 2.0;
    font-size: 16px;

    @media(max-width:768px) {
        font-size: 12px;
    }
}

.profile-sentence > h6 {
    font-size: 1rem;
    float: right;
    margin: 0px 20px 5px 0px;

    @media(max-width: 768px){
        font-size: 10px;
        text-decoration: underline;
    }
}


.photo-box > img {
    /* border: solid 1px red; */
    width: 20%;
    height: 20%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    box-shadow: 4px 4px 5px rgb(0, 0, 0);

    @media(max-width:768px) {
        
    }
}

/*【マーカー線】*/
.highlight-marker {
    position: relative;
    display: inline-block;
    z-index: 0; /* 追加 */
}
.highlight-marker::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(157, 188, 249); */
    background-color: rgb(0, 255, 191);
    border-radius: 5px;
    z-index: -1;
    opacity: 0.8;
}
@media (max-width: 768px) {
    .highlight-marker::before {
    opacity: 0.8;
    }
}





/* プロフィール詳細ボタン */
.profile-html {
    line-height: 1.5;
    padding: 5%;
    text-align: center;

    @media (max-width:768px) {
        font-size: 10px;
        text-align: right;
    }
}
.profile-html > a {
    color: white;
    opacity: 0.5;
    
    @media(max-width:768px) {
        
    }
}



/*===========================================================*/
/*【画像の自動切り替え】*/
/*===========================================================*/

/*一定時間で画像を自動で切り替える*/
.image-switch {
    object-fit: cover;
}
@media(max-width: 768px) {
        .image-switch {
            width: 1rem;
            height: 1rem;
        }
    }


/*===========================================================*/
/*【波紋が広がる】*/
/*===========================================================*/
    /* 波紋の位置 */
.circle {
    text-align: center;
    position: relative;
    top: 110px;
    left: -30%;
    opacity: 0.7;
    @media(max-width:768px) {
        top: -60px;
        left: -30%;
    }
}
/*== 🔵【波紋】無限に波紋が広がる */
.btnripple2{
    /*波紋の基点とするためrelativeを指定*/
	position: relative;
    /*波紋の形状*/
	display:inline-block;
	width:100px;
	height:100px;
	border-radius: 50%;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
}

/*hoverした際の背景色の設定*/
/* .btnripple2:hover{
	background:#666;	
} */

/*波形を2つ設定*/
.btnripple2::after,
.btnripple2::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -25%;
    top: -25%;
    /*波形の形状*/
    border: 0.5px solid #25aad6;
    box-shadow: 0px 0px 10px rgba(6, 226, 255, 0.5);
    /* border: 0.5px solid #363d61; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 0.5;
    /*波形の広がる速度を調整*/
    animation:50s circleanime linear infinite;
}

/*波形の2つ目は5.0秒遅らせてアニメーション*/
.btnripple2::before {
    animation-delay: 0.01s; 
}

/*波形のアニメーション*/
@keyframes circleanime{
	0%{
	transform: scale(0);
	}
	100%{
	transform: scale(5.0);
	opacity: 0;
	}

}



/* コピーライト */
footer > p {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    font-size: 2rem;
    color: white;
    background-color: #061925e6;
    text-align: center;
    font-weight: bold;

    /* レスポンシブ対応 */
    @media (max-width: 768px) {
        padding: 1rem 0;
        font-size: 15px;
    }
}


/* ホームに戻る */
.return > a {
    width: 10%;
    height: auto;
    top: 1.5rem;
    right: 3%;
    font-size: 1.5rem;
    position: fixed;
    text-align: center;
    z-index: 1;
    opacity: 0.6;

    @media (max-width: 768px) {
        top: 1.5rem;
        right: 5%;
        font-size: 0.8rem;
    }
}
.btn {
    height: auto;
    display: inline-block;
    padding: 0.8em 3em;
    background-color: #3e4885;
    box-shadow: 0 5px 0 #323966;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transform: scale(0.9);
    box-shadow: 4px 4px 5px rgb(0, 0, 0);
}
.btn:hover {
    color: #fff;
    background-color: #252fa2;
    transform: scale(1.0);
}
.btn:active {
    box-shadow: none;
    transform: translateY(4px);
}