/*===========================================================*/
/*【】*/
/*===========================================================*/




/*===========================================================*/
/*【Loading】*/
/*===========================================================*/

/* Loading背景画面設定*/
#splash {
  /*fixedで全面に固定*/
position: fixed;
width: 100%;
height: 100%;
z-index: 999;
text-align:center;
color:#fff;
}
/* Loading画像中央配置*/
#splash_text {
position: absolute;
top: 50%;
left: 50%;
  z-index: 999;
transform: translate(-50%, -50%);
color: #fff;
width: 100%;
}
/*割れる画面のアニメーション*/
.loader_cover {
  width: 100%;
  height: 50%;
  background-color: rgb(0, 0, 0);
  transition: all 3.0s cubic-bezier(.04, .435, .315, .9);
  transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
  transform-origin: center top;
}
/*下の画面*/
.loader_cover-down {
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
  transform: scaleY(0);
}






/*===========================================================*/
/*【グローバルナビゲーション】*/
/*===========================================================*/

/*アクティブになったエリア*/
#g-nav.panel-active{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
top: 0;
width:100%;
  height: 100vh;
}
/*丸の拡大*/
.circle-bg{
  position: fixed;
z-index:3;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /*丸のスタート位置と形状*/
transform: scale(0);/*scaleをはじめは0に*/
  top:calc(50% - 50px);/*50%から円の半径を引いた値*/
  left:calc(50% - 50px);/*50%から円の半径を引いた値*/
  transition: all .6s;/*0.6秒かけてアニメーション*/
}
.circle-bg.circle-active{
transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}
/*【背景】ナビゲーション展開時*/
#g-nav-list{
  display: none;/*はじめは非表示*/
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background:rgba(6, 25, 37, 0.9);
}
#g-nav.panel-active #g-nav-list{
  display: block; /*クラスが付与されたら出現*/
}
/*ナビゲーション*/
#g-nav ul {
opacity: 0;/*はじめは透過0*/
  /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
/*背景が出現後にナビゲーションを表示*/
#g-nav.panel-active ul {
  opacity:1;
}
/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panel-active ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
/*リストのレイアウト設定*/
#g-nav li{
text-align: center; 
list-style: none;
}
/*【HOME】【AbOUT】【PICTURES】・・・*/
#g-nav li a{
  font-size: 2rem;
  line-height: 3.0;
  color: white;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(255, 255, 255, 0.5);

  @media (max-width: 768px) {
      font-size: 1.3rem;
      line-height: 1.5;
      color: white;
      text-decoration: none;
      padding:10px;
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: bold;
      text-shadow: 2px 2px 2px rgb(255, 255, 255, 0.5);
  }
}
#g-nav li a:hover {
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  transform: scale(1.1);
}
/*【3本線の「ボックス」】*/
.open-btn{
  position:fixed;
  top: 2.0%;
  right: 3%;
  z-index: 9999;/*ボタンを最前面に*/
  cursor: pointer;
  width: 70px;
  height:70px;
  box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  
  @media (max-width:768px) {
  position:fixed;
  top: 2.3%;
  right: 6%;
  z-index: 9999;
  cursor: pointer;
  width: 50px;
  height:50px;
  box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  }
}
/*【3本線の「文字（三）」】*/	
.open-btn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 5px;
  border-radius: 2px;
  background-color: white;
  width: 60%;

  @media (max-width:768px) {
      display: inline-block;
      transition: all .4s;
      position: absolute;
      left: 14px;
      height: 3px;
      border-radius: 2px;
      background-color: white;
      width: 45%;
  }
}
.open-btn span:nth-of-type(1) {
  top: 20px;

  @media (max-width:768px) {
      top:15px;	
  }
}
.open-btn span:nth-of-type(2) {
  top:35px;
  
  @media (max-width:768px) {
      top:23px;	
  }
}
.open-btn span:nth-of-type(3) {
  top:49px;

  @media (max-width:768px) {
      top:31px;	
  }
}
/* 【×ボタン】 */
.open-btn.active span:nth-of-type(1) {
  top: 28px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;   /*サイズを調整*/

  @media (max-width:768px) {
      top: 18px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
  }
}
.open-btn.active span:nth-of-type(2) {
  opacity: 0;
}
.open-btn.active span:nth-of-type(3){
  left: 18px;
  top: 40px;
  width: 50%;
  transform: translateY(-6px) rotate(45deg);

  @media (max-width:768px) {
      left: 18px;
      top: 30px;
      width: 30%;
      transform: translateY(-6px) rotate(45deg);
  }
}










html, body {
  width: 100%;
  height: auto;
  margin: auto;
  font-family: serif;
}

#particles-js{ 
  position:fixed;/*描画固定*/
  z-index:-1;/*描画を一番下に*/
  width: auto;
  height: 100%;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgb(16, 35, 51);
}

#wrapper{
  position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width:auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}

/*【ヘッダー】*/
header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background:rgba(6, 25, 37, 0.9);
  text-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5);
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
}



.contact > h1 {
  color: gray;
  font-size: 5rem;
  padding: 1rem 2rem;

  @media(max-width: 768px) {
      padding: 1rem;
      font-size: 3rem;
  }
}


.main-title > h3 {
  text-shadow: 1px 1px 2px rgb(255, 255, 255, 0.5);
  color: gray;
  font-size: 3rem;
  margin: 10% 20% 5% 20%;
  
  @media(max-width:768px) {
      font-size: 1.8rem;
      margin: 15% 10% 5% 10%;
  }
}



.contact-address {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-address > a {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0 0 3rem;
  font-weight: bolder;
  color: white;
  font-size: 4rem;
  padding: 2rem;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  
  @media (max-width: 768px) {
    width: 1.7rem;
    height: 1.7rem;
    margin: 0.1rem 0 2rem;
    font-size: 1.8rem;
    padding: 1.5rem;
  }
}

.line {
  background-color: rgb(0, 255, 51, 0.5);
  text-decoration: none;
}
.line:hover {
  transform: scale(1.1);
  background-color: rgb(0, 255, 51, 0.8);
}

.instagram {
  background-color: rgb(255, 0, 111, 0.5);
  text-decoration: none;
}
.instagram:hover {
  transform: scale(1.1);
  background-color: rgb(255, 0, 111, 0.8);
}

.facebook {
  background-color: rgba(0, 60, 255, 0.5);
  text-decoration: none;
}
.facebook:hover {
  transform: scale(1.1);
  background-color: rgba(0, 60, 255, 0.8);
}

.twitter {
  background-color: rgb(0, 195, 255, 0.5);
  text-decoration: none;
}
.twitter:hover {
  transform: scale(1.1);
  background-color: rgb(0, 195, 255, 0.8);
}




/*===========================================================*/
/*雫がポタポタ落ちる*/
/*===========================================================*/

canvas {
  height: 2rem;
  width: 100%;

  @media(max-width:768px) {
      height: 15px;
  }
}



/* コピーライト */
footer > p {
  width: 100%;
  height: auto;
  font-size: 2rem;
  padding: 1rem 0;
  color: white;
  background-color: #061925e6;
  text-align: center;
  font-weight: bold;

  @media (max-width: 768px) {
      font-size: 1rem;
  }
}