/*========= ネオン（必ずCSSの一番上に記述する） ===============*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
footer > a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    text-decoration: none;
    text-transform: none;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
}
footer > a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
footer > a:nth-child(1){
    filter: hue-rotate(270deg);
}
footer > a:nth-child(2){
    filter: hue-rotate(110deg);
}
footer > a span{
    position: absolute;
    display: block;
}
footer > a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
footer > a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
footer > a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}





/*========= Loading ===============*/

/* Loading背景画面設定*/
#splash {
    /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align:center;
	color:#fff;
}

/* Loading画像中央配置*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 100%;
}

/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: rgb(0, 0, 0);
    transition: all 3.0s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}





/* お洒落な「テキストシャドウ」 */
/* text-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5); */
/* お洒落な「ボックスシャドウ」 */
/* box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5); */
/* ヘッダーの背景色 */
/* background:rgba(6, 25, 37, 0.9); */

/* <body> */
html, body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: serif;
}



/* メインの色、宇宙色。rgb(16, 35, 51) */


/*========= Scrollボタン ===============*/
.scrolldown1{
    /*描画位置※位置は適宜調整してください*/
	position:absolute;
	right:20%;
	bottom:20px;
    /*全体の高さ*/
	height:50px;
}
/*Scroll「文字」*/
.scrolldown1 span{
    /*描画位置*/
	position: absolute;
	left:-25px;
	top: -35px;
    /*テキストの形状*/
	color: #eee;
	font-size: 15px;
	letter-spacing: 0.05em;
    text-shadow:
    0 0 7px #ffffff,
    0 0 10px #ffffff,
    0 0 21px #ffffff,
    0 0 42px #ffffff;

    @media(max-width:768px) {
        left: -15px;
        top: -15px;
        font-size: 10px;
        letter-spacing: 0.05em;
        text-shadow:
        0 0 7px #ffffff,
        0 0 10px #ffffff,
        0 0 21px #ffffff,
        0 0 42px #ffffff;
}
}

/* Scroll「線」 */
.scrolldown1::after{
	content: "";
    /*描画位置*/
	position: absolute;
	top: 0;
    /*線の形状*/
	width: 1px;
	height: 100px;
	background: white;
    box-shadow: 0px 0px 4px white;
    /*線の動き1.4秒かけて動く。永遠にループ*/
	animation: pathmove 2.5s ease-in-out infinite;
	opacity:0;
}
/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
	0%{
		height:0;
		top:0;
		opacity: 0;
	}
	30%{
		height:40px;
		opacity: 1;
	}
	100%{
		height:0;
		top:100px;
		opacity: 0;
	}
}





/* __________<header>______________________________________________________ */
header {
    /* border: solid 1px rgb(16, 35, 51); */
    height: auto;
    width: 100%;
    background:rgba(6, 25, 37, 0.9);
    display: flex;
    position: fixed;
    z-index: 1;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);

        /* レスポンシブ対応 */
        @media(max-width: 768px) {
            
        }
}


/*========= 【ハンバーガーメニュー】 ===============*/
.open-btn{
    display: none;   /*通常時は非表示*/
	position: fixed;
	/* background:rgba(31, 37, 72, 0.9); */
    background:rgba(6, 25, 37, 0.9);
    border: solid 0.1px rgb(255, 255, 255, 0.5);
    box-shadow: 2px 2px 8px rgb(255, 255, 255, 0.5);
	cursor: pointer;
    top: 15px;
    right: 5%;
    width: 50px;
    height:50px;
	border-radius: 5px;
    z-index: 9999;
    
    @media (max-width:768px) {
        display: block;   /*メニュー表示*/
        top: 2.5%;
        right: 6%;
    }
}


/*ボタン内側の三本線*/
.open-btn .open-btn-area{
    transition: all 0.4s;
}
.open-btn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background: white;
    width: 45%;
}
.open-btn span:nth-of-type(1) {
	top:15px;	
}
.open-btn span:nth-of-type(2) {
	top:23px;
}
.open-btn span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与されると線と周りのエリアが回転して×になる*/
.open-btn.active .open-btn-area{
	transform: rotateY(-360deg);
}
.open-btn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-135deg);
    width: 30%;
}
.open-btn.active span:nth-of-type(2) {
	opacity: 0;
}
.open-btn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(135deg);
    width: 30%;
}


.navbar {
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5);
    position: relative;
    width: 100vh;
    height: auto;
    /*ここに、ポジションを右側に固定するCSSを記述したい。それか、マージンで調整するか。*/
    /*以下の「margin」で右側に位置するように調整している*/
    margin: 0 5% 0 10%;
    overflow: hidden;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;   /*画面サイズ関係なく常に横並び*/
    
    @media(max-width: 768px) {
        height: 100vh;
        white-space: nowrap;
        display: none;   /*【ハンバーガーメニュー用に、非表示にした！】*/
        flex-direction: column;
        margin: 40% 0% 0% 5%;
    }
}
/*【Home】【About】【Pictures】【COntact】【Message】*/
.navbar > a {
    width: 18%;   /*ボタンの横幅*/
    height: auto;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 40px 0 40px 0;   /*ボタンの大きさを調節*/
    flex-wrap: nowrap;
    cursor: pointer;

    /*【スマホ版：ヘッダー内の要素】*/
    @media(max-width: 768px) {
        width: 40%;   /*ボタンの横幅*/
        padding: 18px;   /*ボタンの大きさ*/
        margin: 10px 10px 20px 10px;   /*ボタン間の距離*/
        position: relative;
        /* background:rgba(30, 35, 71, 0.9); */
        background:rgba(6, 25, 37, 1);
        border-radius: 10px;
        justify-content: space-between;
        box-shadow: 2px 2px 8px rgb(255, 255, 255, 0.5);
    }
}

.navbar a:hover {
    /* background-color: rgba(51, 51, 51, 0.5); */
    color: white;
    text-shadow:
    0 0 7px #f0f2e3,
    0 0 10px #f2f2ec,
    0 0 21px #f2fe13,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;

    @media(max-width: 768px) {
        font-size: 100%;
        color: white;
        text-shadow:
        0 0 7px #f0f2e3,
        0 0 10px #f2f2ec,
        0 0 21px #f2fe13,
        0 0 42px #13bffe,
        0 0 82px #13acfe,
        0 0 92px #13a8fe,
        0 0 102px #13e3fe,
        0 0 151px #1381fe;
    }
}

/*「.navbar」と「.btn」が重複したため、コメントアウト*/
/* .btn {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 3rem;
    background-color: rgb(36, 41, 78);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    justify-content: space-between;
    box-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5);
}s */

.btn:active {
    box-shadow: none;

    @media(mas-width: 768px) {
        box-shadow: none;
    }
}

/*一定時間で画像を自動で切り替える*/
.image-switch {
    position: relative;
    left: 3%;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
    transform: scale(0.8);
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);

    @media(max-width: 768px) {
        width: 5rem;
        height: 5rem;
    }
}



/* _________<header>______________________________________________________________ */






/* <main> */
main {
    height: auto;
    width: 100%;
    background-color: rgb(16, 35, 51);
    /* padding: 20px; */
}




/* ✅③タイトル・サブタイトル */
.main-title {
    background-image: url("../img/68.jpg");
    filter: blur(0.1px); /* ぼかし */
    background-size: cover; /* 画像を要素にフィット */
    background-repeat: no-repeat; /* 画像の繰り返しを停止 */
    height: 100vh;   /*画面の最大サイズに設定*/
    width: 100%;
    color: white;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow:
    0 0 7px #13e3fe,
    0 0 10px #13e3fe,
    0 0 21px #13e3fe,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;
    
    @media(max-width: 768px) {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        /*モバイル版では非表示*/
        background-image: none;
        filter: none;
}
}

.main-title > h1 {
    font-size: 40px;

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        font-size: 25px;
        margin: 0 10% 0 10%;
        display: flex;
        flex-direction: column;
}
}

span {
    font-size: 20px;

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        font-size: 15px;
        margin: 1% 0;
        width: auto;
        height: auto; /* 高さを自動調整 */
        display: flex;
        flex-direction: column;
}
}



.main-title > h2 {
    width: auto;
    margin: 50px auto;
    /* border: solid 1px red; */
    font-size: 20px;

/* レスポンシブ対応 */
@media(max-width: 768px) {
    font-size: 15px;
    width: auto;
    height: auto; /* 高さを自動調整 */
    display: flex;
    flex-direction: column;
}
}






/*【動く波紋】*/
.btn-ripple2{
    /*波紋の基点とするためrelativeを指定*/
	position: relative;
    /*波紋の形状*/
	display:inline-block;
	/* background:#333; */
	width:50px;
	height:50px;
	border-radius: 50%;
	/* color:#ccc; */
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
}
/*hoverした際の背景色の設定*/
/* .btn-ripple2:hover{
	background:#666;	
} */
/*波紋を2つ設定*/
.btn-ripple2::after,
.btn-ripple2::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -25%;
    top: -25%;
    /*波形の形状*/
    /* border: 0.5px solid #363d61; */
    box-shadow: 2px 2px 15px rgb(255, 255, 255, 0.9);
    width: 150%;
    height: 150%;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 0.9;
    /*波形の広がる速度を調整*/
    animation:20s circle-anime linear infinite;
}
/*波紋の2つ目は5.0秒遅らせる*/
.btn-ripple2::before {
    animation-delay:0.01s; 
}
/*波紋のサイズ*/
@keyframes circle-anime{
	0%{
        transform: scale(0);
	}
	100%{
	transform: scale(9.0);
	opacity: 0;    /*自然に消えるような演出*/
	}
}
/*レスポンシブ対応*/
@media (max-width: 768px) {
    @keyframes circle-anime {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(6.0);
            opacity: 0; /* 自然に消えるような演出 */
        }
    }
}
@media (max-width: 480px) {
    @keyframes circle-anime {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(4.9);
            opacity: 0; /* 自然に消えるような演出 */
        }
    }
}




/* __________メインコンテンツ（④＋⑤）______________________________________________________________ */
.main-contents {
    margin: 10% auto;

    @media(max-width: 768px) {

    }
}

/* ✅④作成背景 */
.concept {
    width: auto;
    height: auto;
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
    color: white;
    padding: 5% 5% 5% 5%;
    margin: 30% 20% 30% 20%;

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        margin: 40% 10% 30% 10%;
    }
}

.concept > h3 {
    border-radius: 10%;
    text-align: center;
    font-size: 40px;
    text-align: left;
    line-height: 2.0;
    text-shadow:
    0 0 7px #fe13b0,
    0 0 10px #fe13d3,
    0 0 21px #fe13bf,
    0 0 42px #fe13bb,
    0 0 82px #fe13cb,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;

    @media(max-width: 768px) {
        font-size: 20px;
        text-align: left;
        height: auto; /* 高さを自動調整 */
    }
}

.concept > p {
    /* border: solid 1px red; */
    line-height: 2.0;
    color: white;
    font-size: 20px;
    width: 80%;
    margin: 15px;

/* レスポンシブ対応 */
@media(max-width: 768px) {
    font-size: 0.8rem;
    height: auto; /* 高さを自動調整 */
    width: auto;
    margin: 5px;
}

}



/* ✅⑤写真 */
.pictures {
    width: 80%;
    height: auto;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5); */

    @media(max-width: 768px) {
        width: 65%;
        display: flex;
        flex-direction: column;
    }
}

.picture-box {
    /* border: 1px solid red; */
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
    width: 100%;
    height: auto;
    margin: auto 2rem;
    text-decoration: none;
    
    @media(max-width: 768px) {
        font-size: 15px;
        margin: 10% auto ;
        display: flex;
        flex-direction: column;
    }
}
.picture-box:hover {
    background-color: black;
    border-radius: 10px;
    text-shadow:
    0 0 7px #13e3fe,
    0 0 10px #13e3fe,
    0 0 21px #13e3fe,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;
}
.picture-box:hover > img {
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.picture-box > p {
    /* border: red 1px solid; */
    width: 100%;
    height: auto;
    margin: 20px 0 0 0 ;
    font-size: 1.5rem;
    color: white;
    text-align: center;

    @media(max-width: 768px) {
        font-size: 1rem;
    }
}

.picture-box > img {
    /* border: solid 1px red; */
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 5%;
    transform: scale(0.8);
    box-shadow: 4px 4px 5px rgb(0, 0, 0);
    /*【ズーム】写真を拡大*/
    transition: transform 0.3s ease; /* クリック時のアニメーション */
    cursor: pointer; /* クリックカーソル */
    position: relative; /*相対位置指定*/

    @media(max-width: 768px) {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
}


/* __________________________<メインコンテンツ（④＋⑤）>___________________________________________________________ */



/* ✅カフェ */
.cafes {
    width: 80%;
    height: auto;
    margin: 20rem auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 768px) {
        width: 65%;
        margin: 10rem auto;
        font-size: 15px;
        display: flex;
        flex-direction: column;
    }
}

.cafe-box {
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
    width: 100%;
    height: auto;
    margin: auto 20px 0 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    padding: 10px;

    @media(max-width: 768px) {
        margin: 20px 0 20px 0;
        font-size: 15px;
    }
}
.cafe-box:hover{
    background-color: black;
    text-shadow:
    0 0 7px #13e3fe,
    0 0 10px #13e3fe,
    0 0 21px #13e3fe,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;
}
.cafe-box:hover > img {
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.cafe-box > h5 {
    margin: 1% 10% 5% 10%;
}

.cafe-box > img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 4px 4px 5px rgb(0, 0, 0);
    transform: scale(0.8);
    /*【ズーム】写真を拡大*/
    transition: transform 0.3s ease; /* クリック時のアニメーション */
    cursor: pointer; /* クリックカーソル */
    position: relative; /*相対位置指定*/

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}
/* 【画像拡大】 */
img.zoomed {
    position: relative; /* 絶対位置指定 */
    transform: scale(1.5); /* ズーム時の拡大率と画面の中央配置 */
    z-index: 1;
    border-radius: 0;
}

.cafe-sentence {
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    opacity: 0.8;
    padding: 1rem;
    margin: 10px;

    @media (max-width: 768px) {
        margin: 1% 3% 5% 3%;
        font-size: 10px;
    }
}
/*【Facebookボタン】*/
.cafe-box > a {
    border-radius: 5px;
    background-color: blue;
    color: white;
    padding: 5px;

    @media(max-width: 768px) {

    }
}
.cafe-box > a:hover {
    background-color: rgb(0, 174, 255);
}

.cafe-box > a > span {
    font-size: 1rem;
}




/* ✅⑥地図の埋め込み */
.maps {
    /* border: solid 1px red; */
    width: 80%;
    height: auto;
    color: white;
    font-size: 100%;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    margin: 20% auto;
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        flex-direction: column;
    }
}

/* Googleマップ */
iframe {
    width: 80%;
    height: 90%;
    border-radius: 1rem;
    transform: scale(0.8);
    margin: 0 auto;

    @media(max-width: 768px) {
        transform: scale(0.7);
    }
}

/* シードテックの地図 */
.seedtech-map {
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5%;
    object-fit: cover;
    margin: 10% auto;

        /* レスポンシブ対応 */
        @media(max-width: 768px) {
            width: 70%;
            display: flex;
            flex-direction: column;
            font-size: 80%;
            margin: 5% auto;
        }
}
.seedtech-map:hover{
    background-color: black;
    text-shadow:
    0 0 7px #13e3fe,
    0 0 10px #13e3fe,
    0 0 21px #13e3fe,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;
}

/* 寮の地図 */
.dormitory-map {
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5%;
    object-fit: cover;
    margin: 10% auto;

        /* レスポンシブ対応 */
        @media(max-width: 768px) {
            width: 70%;
            display: flex;
            flex-direction: column;
            font-size: 80%;
            margin: 5% auto;
        }
}
.dormitory-map:hover{
    background-color: black;
    text-shadow:
    0 0 7px #13e3fe,
    0 0 10px #13e3fe,
    0 0 21px #13e3fe,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;
}





/* ✅最後のメッセージ */
.message {
    /* border: solid 0.1px white; */
    height: 500px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10% 0;

/* レスポンシブ対応 */
@media(max-width: 768px) {
    font-size: 15px;
    width: auto;
    height: auto; /* 高さを自動調整 */
    display: flex;
    flex-direction: column;
}
}
.message:hover{
    /* background-color: black; */
    text-shadow:
    0 0 7px #1361fe,
    0 0 10px #1352fe,
    0 0 21px #135dfe,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;
}
.message > a {
    border: solid 0.1px white;
    border-radius: 2%;
    font-size: 100%;
    text-decoration: none;
    color: white;
    /* background-color: white; */
    padding: 1%;
}
.message > a:hover {
    background-color: rgb(0, 0, 0); /* ホバー時の背景色 */
    color:rgb(0, 255, 221);
    transform: scale(1.1);
    text-shadow:
    0 0 7px #23fe13,
    0 0 10px #32fe13,
    0 0 21px #69fe13,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;
}


/* SNSでシェア */
.greeting{
    width: 100%;
    height: auto;
    padding: 2rem 0;
    font-size: 150%;
    color: white;
    background-color: black;
    text-align: center;
    z-index: 9999;
    text-shadow:
    0 0 7px #ffffff,
    0 0 10px #ffffff,
    0 0 21px #ffffff,
    0 0 42px #ffffff,
    0 0 82px #fe13cb,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;

    @media(max-width: 768px) {
        padding: 1rem 0;
        font-size: 20px;
    }
}

/* 背景の色が時間で変わる */
.greeting{
    animation: bgchange 15s ease infinite;/*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
    opacity: 1;
}
    @keyframes bgchange{
        0%   {background:rgb(16, 35, 51);}
        25%  {background:rgba(186, 254, 98, 0.8);}
        50%  {background:rgb(254, 160, 248, 0.8);}
        75%  {background:rgba(90, 242, 247, 0.8);}
        90%  {background:rgb(0, 0, 255, 0.9);}
        100%  {background:rgb(16, 35, 51);}
    }

/* 宇宙の背景色 */
/* rgb(16, 35, 51) */

/* ✅⑨フッター */
footer {
    width: 100%;
    height: auto;
    background-color: rgb(16, 35, 51);
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
/* レスポンシブ対応 */
@media(max-width: 768px) {

}
}

/*【SNSアイコン】*/
footer > a {
    width: 50px;
    height: 50px;
    font-size: 40px;
    border-radius: 50%;
    font-weight: bolder;
    text-align: center;
    color: white;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0px 0px 4px rgb(255, 255, 255);

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        width: 25px;
        height: 25px;
        font-size: 25px;
        border-radius: 50%;
        margin: 1rem 0.5rem;
    }
}
footer > a:hover{
    text-decoration: none;
}


.line {
    background-color: rgb(0, 255, 255, 0.7);
}
.line:hover {
    transform: scale(1.1);
    @media (max-width:768px) {
        transform: scale(0.8);
    }
}

.instagram {
    background-color: rgb(0, 255, 255, 0.7);
}
.instagram:hover {
    transform: scale(1.1);
    @media (max-width:768px) {
        transform: scale(0.8);
    }
}

.twitter {
    background-color: rgb(0, 255, 255, 0.7);
}
.twitter:hover {
    transform: scale(1.1);
    @media (max-width:768px) {
        transform: scale(0.8);
    }
}

.facebook {
    background-color: rgb(0, 0, 255, 0.7);
}
.facebook:hover {
    transform: scale(1.1);
    @media (max-width:768px) {
        transform: scale(0.8);
    }
}

/*コピーライト*/
footer > p {
    font-size: 2rem;
    padding: 5px 0;
    color: white;
    background-color: #061925e6;
    font-weight: bold;

    /* レスポンシブ対応 */
    @media (max-width: 768px) {
        font-size: 1rem;
        padding: 1rem 0;
        width: 100%;
        height: auto;
    }
}


#wrapper {
    width: 100% !important;
    height: 30px !important;
    /* background-color: red; */
    
    @media (max-width: 768px) {
    width: 100% !important;
    height: 15px !important;
    /* background-color: red; */
    }
}

/* 【動く背景】雫がポタポタ落ちる */
canvas {
    width: 100% !important;
    height: 30px !important;
    
    @media (max-width:768px) {
    width: 100% !important;
    height: 15px !important;
    }
}
