

/* 🟥以下は試験的に記述（ネオン色）ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

footer > a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    text-decoration: none;
    text-transform: none;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
}
footer > a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
footer > a:nth-child(1){
    filter: hue-rotate(270deg);
}
footer > a:nth-child(2){
    filter: hue-rotate(110deg);
}
footer > a span{
    position: absolute;
    display: block;
}
footer > a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
footer > a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
footer > a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
/* 🟥上記は試験的に記述ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */








/* <body> */
body {
    height: auto;
    font-family: serif;
    margin: 0;
}

html {
    height: auto;
    margin: 0;
}

/* メインの色、宇宙色。rgb(16, 35, 51) */






/* __________<header>______________________________________________________ */
header {
    /* border: solid 1px rgb(16, 35, 51); */
    height: auto;
    width: 100%;
    display: flex;
    background-color: rgba(51, 51, 51);
    opacity: 0.9;
    position: fixed;
    z-index: 1;

        /* レスポンシブ対応 */
        @media(max-width: 768px) {
            font-weight: bold;
        }
}



/* ナビゲーションバースタイル */
.navbar {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.9;
    transform: scale(1.0);
    flex-wrap: nowrap;   /*画面サイズ関係なく常に横並び*/

    /* 写真を追加したから、widthを調整 */
    width: 90%;

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        height: 100%;
        width: 100%;
        transform: scale(0.9);
        opacity: 0.9;
        justify-content: space-between;
        white-space: nowrap;
    }
}

  /* ナビゲーションリンクスタイル */
.navbar > a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
    padding:1% 3%;
    flex-wrap: nowrap;

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        padding: 10px;
        margin: 0 auto;
        transform: scale(0.8);
        justify-content: space-between;
        font-family: 'Courier New', Courier, monospace;
        flex-wrap: nowrap;
    }
}


/*一定時間で画像を自動で切り替える*/
.image-switch {
    position: relative;
    left: 3%;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%; /* 正方形にクリップした後、半径50%で円形にする */
    /* animation: changeImage 2s infinite; */

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        transform: scale(3.0);
        width: 1rem;
        height: 1rem;
        left: 0;
    }
}


/* @keyframes changeImage {
    0% { image: url('./assets/img/4.jpg'); }
    50% { image: url('./assets/img/11.jpg'); }
    100% { image: url('./assets/img/26.jpg'); }
} */


  /* ナビゲーションリンクホバースタイル */
.navbar a:hover {
    font-size: 120%;
    /* background-color: rgba(51, 51, 51, 0.5); */
    color: white;
    text-shadow:
    0 0 7px #f0f2e3,
    0 0 10px #f2f2ec,
    0 0 21px #f2fe13,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;

    @media(max-width: 768px) {
        font-size: 100%;
        color: white;
        text-shadow:
        0 0 7px #f0f2e3,
        0 0 10px #f2f2ec,
        0 0 21px #f2fe13,
        0 0 42px #13bffe,
        0 0 82px #13acfe,
        0 0 92px #13a8fe,
        0 0 102px #13e3fe,
        0 0 151px #1381fe;
    }
}

.btn {
    height: auto;
    display: inline-block;
    padding: 0.8em 3em;
    border: solid 0.1px rgb(0, 183, 255);
    background-color: #7fc2da; /* 背景色 */
    box-shadow: 0 5px 0 #46c2d5; /* 影の太さ・色 */
    border: solid 0.5px #46ced5;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    justify-content: space-between;
    margin: 10px;

        /* レスポンシブ対応 */
        @media(max-width: 768px) {
            font-size: 15px;
            position: relative;
            left: 5%;
        }
}
.btn:hover {
    color: #fff;
    background-color: #7fd4da;
}
.btn:active {
    box-shadow: none;
    /* transform: translateY(4px); */

    /* レスポンシブ対応 */
    @media(mas-width: 768px) {
        box-shadow: none;
        transform: translateY(1px);
    }
}



/* ✅①ロゴ＋キャッチコピー */
/* .header-left {
    width: 20%;
    border: solid 1px red;
    color: white;
    font-size: 30px;
    text-align: center;
}
.header-left > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
} */

/* ✅(1.5)スペースあけるためだけの記述 */
/* .header-center {
    width: 50%;
} */

/* ✅②ハンバーガーメニュー(寮のこと・学校のこと・生活のこと) */
/* .header-right {
    width: 30%;
    border: solid 1px rgb(16, 35, 51);
    padding: 4% 0;
    text-align: center;
    justify-content: space-between;
} */

/* .header-right > a {
    border: solid 1px red;
    color: white;
    text-decoration: none;
    font-size: 28px;

} */
/* _________<header>______________________________________________________________ */






/* <main> */
main {
    height: auto;
    width: 100%;
    background-color: rgb(16, 35, 51);
    /* padding: 20px; */
}




/* ✅③タイトル・サブタイトル */
.main-title {
    /* border: solid 1px red; */
    height: auto;
    width: auto;
    color: white;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

/* 🟥以下は試験的に記述----------------------------------- */
    text-shadow:
    0 0 7px #13e3fe,
    0 0 10px #13e3fe,
    0 0 21px #13e3fe,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;

/* レスポンシブ対応 */
@media(max-width: 768px) {
    padding: 45% 0 20% 0;
    font-size: 15px;
    width: auto;
    height: auto; /* 高さを自動調整 */
    display: flex;
    flex-direction: column;
}
}

.main-title > h1 {
    /* border: solid 3px red; */
    width: auto;
    margin: 0 auto;
    font-size: 40px;

    /* レスポンシブ対応 */
@media(max-width: 768px) {
    font-size: 25px;
    padding-bottom: 10%;
    width: auto;
    height: auto; /* 高さを自動調整 */
    display: flex;
    flex-direction: column;
}
}

span {
    font-size: 20px;

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        font-size: 15px;
        margin: 1% 0;
        width: auto;
        height: auto; /* 高さを自動調整 */
        display: flex;
        flex-direction: column;

    }
}



.main-title > h2 {
    width: auto;
    margin: 50px auto;
    /* border: solid 1px red; */
    font-size: 20px;

/* レスポンシブ対応 */
@media(max-width: 768px) {
    font-size: 15px;
    width: auto;
    height: auto; /* 高さを自動調整 */
    display: flex;
    flex-direction: column;
}
}





/*動く波紋のアニメーション*/

.btnripple2{
    /*波紋の基点とするためrelativeを指定*/
	position: relative;
    /*波紋の形状*/
	display:inline-block;
	/* background:#333; */
	width:50px;
	height:50px;
	border-radius: 50%;
	/* color:#ccc; */
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
}

/*hoverした際の背景色の設定*/
/* .btnripple2:hover{
	background:#666;	
} */

/*波形を2つ設定*/
.btnripple2::after,
.btnripple2::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -25%;
    top: -25%;
    /*波形の形状*/
    border: 0.5px solid #03ffea;
    /* border: 0.5px solid #363d61; */
    width: 150%;
    height: 150%;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 0.5;
    /*波形の広がる速度を調整*/
    animation:20s circleanime linear infinite;
}

/*波形の2つ目は5.0秒遅らせてアニメーション*/
.btnripple2::before {
    animation-delay:7.0s; 
}

/*波形のアニメーション*/
@keyframes circleanime{
	0%{
	transform: scale(0.68);
	}
	100%{
	transform: scale(5.0);
	opacity: 0;
	}
}




/* __________メインコンテンツ（④＋⑤）______________________________________________________________ */
.main-contents {
    /* border: solid 1px red; */
    /* padding: 5%; */
    margin: 10% auto;
    /* display: flex; */

    @media(max-width: 768px) {
        font-size: 5px;
        padding: 10%;
        height: auto; /* 高さを自動調整 */
    }
}

/* ✅④作成背景 */
.concept {
    /* border: solid 0.1px white; */
    /* border-radius: 10%; */
    color: white;
    padding: 10%;
    margin: 10%;

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        height: auto; /* 高さを自動調整 */
        width: auto;
        padding: 50% 5%;
        margin: auto;
    }
}

.concept > h3 {
    /* border: solid 1px white; */
    border-radius: 10%;
    text-align: center;
    font-size: 40px;
    text-align: left;

    @media(max-width: 768px) {
        font-size: 20px;
        text-align: left;
        height: auto; /* 高さを自動調整 */
    }
}

.concept > p {
    /* border: solid 1px red; */
    line-height: 1.5;
    color: white;
    font-size: 20px;
    width: 80%;
    margin: 15px;

/* レスポンシブ対応 */
@media(max-width: 768px) {
    font-size: 15px;
    height: auto; /* 高さを自動調整 */
    width: auto;
    margin: 5px;
}

}



/* ✅⑤写真 */
.pictures {
    width: auto;
    height: auto;
    border-radius: 10%;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        font-size: 10px;
        height: auto; /* 高さを自動調整 */
        display: flex;
        flex-direction: column;
    }
}

.picture-box {
    /* border: solid 1px red; */
    margin: 5%;
    padding-top: 5%;
    width: auto;
    text-decoration: none;
    color: white;

/* レスポンシブ対応 */
@media(max-width: 768px) {
    font-size: 15px;
    padding: 5%;
    height: auto; /* 高さを自動調整 */
    width: auto;
    display: flex;
    flex-direction: column;
}
}

.picture-box > img {
    /* border: solid 1px red; */
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5%;
    transform: scale(0.8); /* 0.8は縮小率で調整可能 */

    /*【ズーム】写真を拡大*/
    transition: transform 0.3s ease; /* クリック時のアニメーション */
    cursor: pointer; /* クリックカーソル */
    position: relative; /*相対位置指定*/

/* レスポンシブ対応 */
@media(max-width: 768px) {
    font-size: 5px;
    height: auto; /* 高さを自動調整 */
    display: flex;
    flex-direction: column;
    transform: scale(0.8); /* 0.8は縮小率で調整可能 */
}
}

.picture-box:hover {
    background-color: black;
    border-radius: 10%;
    text-shadow:
    0 0 7px #13e3fe,
    0 0 10px #13e3fe,
    0 0 21px #13e3fe,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;
}

/* __________________________<メインコンテンツ（④＋⑤）>___________________________________________________________ */










/* ✅⑥地図の埋め込み */
.maps {
    /* border: solid 1px red; */
    width: 100%;
    height: auto;
    color: white;
    font-size: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20% auto;

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        flex-direction: column;
    }
}

/* Googleマップ */
iframe {
    width: auto;
    height: 100%;
    border-radius: 1rem;
    transform: scale(0.7);
}

/* シードテックの地図 */
.seedtech-map {
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5%;
    object-fit: cover;
    transform: scale(1.8);
    margin: 10% auto;

        /* レスポンシブ対応 */
        @media(max-width: 768px) {
            display: flex;
            flex-direction: column;
            font-size: 50%;
            transform: scale(1.0);
            margin: 5% auto;
        }
}
.seedtech-map:hover{
    background-color: black;
    text-shadow:
    0 0 7px #13e3fe,
    0 0 10px #13e3fe,
    0 0 21px #13e3fe,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;
}

/* 寮の地図 */
.dormitory-map {
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5%;
    object-fit: cover;
    transform: scale(1.8);
    margin: 10% auto;

        /* レスポンシブ対応 */
        @media(max-width: 768px) {
            display: flex;
            flex-direction: column;
            font-size: 50%;
            transform: scale(1.0);
            margin: 5% auto;
        }
}
.dormitory-map:hover{
    background-color: black;
    text-shadow:
    0 0 7px #13e3fe,
    0 0 10px #13e3fe,
    0 0 21px #13e3fe,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;
}


/* ✅⑦カフェの紹介 */
.cafes {
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 768px) {
        padding: 0 auto;
        margin: 0 auto;
        font-size: 15px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}

.cafe-box {
    width: 100%;
    height: auto;
    padding: 5%;
    margin: 1%;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;

    @media(max-width: 768px) {
        font-size: 15px;
    }
}
.cafe-box:hover{
    background-color: black;
    text-shadow:
    0 0 7px #13e3fe,
    0 0 10px #13e3fe,
    0 0 21px #13e3fe,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;
}

.cafe-box > img {
    width: 90%;
    height: auto;
    margin: 10px;
    border-radius: 5%;
    transform: scale(0.9);
    object-fit: cover;

    /*【ズーム】写真を拡大*/
    transition: transform 0.3s ease; /* クリック時のアニメーション */
    cursor: pointer; /* クリックカーソル */
    position: relative; /*相対位置指定*/

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        width: 50%;
        height: auto; /* 高さを自動調整 */
    }
}
/* 【画像拡大】 */
img.zoomed {
    position: relative; /* 絶対位置指定 */
    transform: scale(1.3); /* ズーム時の拡大率と画面の中央配置 */
    z-index: 1;
    border-radius: 0;
}

.cafe-sentence {
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    opacity: 0.8;
    padding: 5%;
    margin: 5% auto;

    @media (max-width: 768px) {
        font-size: 10px;
        margin: 2% 15%;
    }
}

.cafe-box > a {
    border-radius: 5px;
    background-color: blue;
    color: white;
    padding: 2%;
}
.cafe-box > a:hover {
    background-color: rgb(0, 174, 255);
}


/* ✅⑧最後のメッセージ */
.message {
    /* border: solid 0.1px white; */
    height: 500px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10% 0;

/* レスポンシブ対応 */
@media(max-width: 768px) {
    font-size: 15px;
    width: auto;
    height: auto; /* 高さを自動調整 */
    display: flex;
    flex-direction: column;
}
}

.message:hover{
    /* background-color: black; */
    text-shadow:
    0 0 7px #1361fe,
    0 0 10px #1352fe,
    0 0 21px #135dfe,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;
}

.message > a {
    border: solid 0.1px white;
    border-radius: 2%;
    font-size: 100%;
    text-decoration: none;
    color: white;
    /* background-color: white; */
    padding: 1%;
}

.message > a:hover {
    background-color: rgb(0, 0, 0); /* ホバー時の背景色 */
    color:rgb(0, 255, 221);
    transform: scale(1.2);
    text-shadow:
    0 0 7px #23fe13,
    0 0 10px #32fe13,
    0 0 21px #69fe13,
    0 0 42px #13bffe,
    0 0 82px #13acfe,
    0 0 92px #13a8fe,
    0 0 102px #13e3fe,
    0 0 151px #1381fe;
}


  /* ✅試験的に導入 */
.greeting{
    /* border: solid 0.1px white; */
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ✅⑨フッター */
footer {

    /* border: solid 1px red; */
    height: 10%;
    background-color: rgba(0, 0, 0);
    text-align: center;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
    
/* レスポンシブ対応 */
@media(max-width: 768px) {
    font-size: 15px;
    /* font-family: 'Courier New', Courier, monospace; */
    /* padding: 10%; */
    height: auto; /* 高さを自動調整 */
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

footer > a {
    font-size: 15px;
    background-color: black;
    margin-right: 20px;
    text-align: center;

    /* レスポンシブ対応 */
    @media(max-width: 768px) {
        transform: scale(0.8);
        margin: 10px;
        padding: 5%;
    }
}

.line {
    color: black;
    background-color: aqua;
}
.line:hover {
    transform: scale(1.2);
}

.instagram {
    color: black;
    background-color: aqua;
}
.instagram:hover {
    transform: scale(1.2);
}

.twitter {
    color: black;
    background-color: aqua;
}
.twitter:hover {
    transform: scale(1.2);
}

footer > p {
    font-size: 20px;
    color: white;
    background-color: #A5D2DA;
    padding: 5px;

    /* レスポンシブ対応 */
    @media (max-width: 768px) {
        font-size: 10px;
        width: 100%;
        height: auto;
    }
}


#wrapper {
    width: 100% !important;
    height: 30px !important;
    /* background-color: red; */
    
    @media (max-width: 768px) {
    width: 100% !important;
    height: 15px !important;
    /* background-color: red; */
    }
}

canvas {
    width: 100% !important;
    height: 30px !important;
    
    @media (max-width:768px) {
    width: 100% !important;
    height: 15px !important;
    }
}
