
html, body {
  height: 100%;
  width: auto;
  font-family: serif;
}

#particles-js{ 
  position:fixed;/*描画固定*/
  z-index:-1;/*描画を一番下に*/
  width: auto;
  height: 100%;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgb(16, 35, 51);
}

#wrapper{
  position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width:auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}

/* 背景の色が時間で変わる */
.message > h1{
  animation: bgchange 10s ease infinite;/*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
  opacity: 0.3;
}
@keyframes bgchange{
      0%   {background:#000000;}
      25%  {background:#000000;}
      50%  {background:#24100c;}
      75%  {background:#2e2e0b;}
      90%  {background:#131313;}
      100% {background:#0c0b0a;}
}

.message > h1 {
  font-size: 200%;
  color: gray;
  padding: 22px;
  text-align: left;
}

.message > h3 {
  color: rgb(225, 126, 126);
  text-align: left;
  padding: 22px;
}

.message-area {
  color: white;
  padding: 20px;
}

.message-area > h5 {
  font-size: 25px;
  padding: 30px;
  line-height: 3.0;

  @media (max-width:768px) {
    font-size: 15px;
    
  }
}

.highlight-marker {
  position: relative;
  display: inline-block;
}

.highlight-marker::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: yellow; /* マーカーの色を設定 */
  opacity: 0.5; /* マーカーの透明度を設定 */
  pointer-events: none; /* マーカーがマウスイベントを受け取らないようにする */
  z-index: -1; /* マーカーをテキストの背後に配置 */
}

@media (max-width: 768px) {
  .highlight-marker::before {
      height: 50%;
      background-color: red;
  }
}




/* ホームに戻る */
.return > a {
  position: fixed;
  top: 20px;
  right: 3%;
  text-align: center;
  width: 20%;
  z-index: 1; /* 必要に応じてz-indexを設定 */
  opacity: 0.7;

  @media (max-width: 768px) {
      width: auto;
      height: auto;
      top: 20px;
      right: 20px;
      font-size: 10px;
      opacity: 0.6;
  }
}

.btn {
  height: auto;
  display: inline-block;
  padding: 0.8em 3em;
  background-color: #3e4885; /* 背景色 */
  box-shadow: 0 5px 0 #323966; /* 影の太さ・色 */
  /* border: solid 0.5px #4753a2; */
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transform: scale(0.9);
}
.btn:hover {
  color: #fff;
  background-color: #252fa2;
  transform: scale(1.0);
}
.btn:active {
  box-shadow: none;
  transform: translateY(4px);
}