
html, body {
  height: 100%;
  width: auto;
  font-family: serif;
}

#particles-js{ 
  position:fixed;/*描画固定*/
  z-index:-1;/*描画を一番下に*/
  width: auto;
  height: 100%;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgb(16, 35, 51);
}

#wrapper{
  position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width:auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}

.message {
  z-index: -1;
  /* background-color: rgb(16, 35, 51); */
}

/* 背景の色が時間で変わる */
/* .message > h1{
    animation: bgchange 10s ease infinite;
    opacity: 0.9;
}
      @keyframes bgchange{
          0%   {background:rgb(16, 35, 51);}
          10%  {background:rgb(26, 40, 61);}
          20%  {background:rgb(36, 43, 71);}
          30%  {background:rgb(46, 47, 81);}
          40%  {background:rgb(56, 51, 91);}
          50%  {background:rgb(66, 56, 101);}
          60%  {background:rgb(56, 51, 91);}
          70%  {background:rgb(46, 47, 81);}
          80%  {background:rgb(36, 43, 71);}
          90%  {background:rgb(26, 40, 61);}
          100%  {background:rgb(16, 35, 51);}
    } */


.message > h1 {
  background:rgba(6, 25, 37, 0.9);
    color: gray;
    font-size: 5rem;
    padding: 1rem 2rem;
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);

    @media(max-width: 768px) {
      padding: 1rem;
      font-size: 3rem;
    }
}

.message > h3 {
    /* color: gray; */
    color: rgb(54, 55, 55);
    font-size: 3rem;
    padding: 8rem 2rem 0;
    
    @media(max-width:768px) {
        font-size: 1.8rem;
        padding: 5rem 2rem 0;
    }
}

.message-area {
  color: white;
  padding: 20px;
}

.message-area > h5 {
  font-size: 25px;
  padding: 30px;
  line-height: 3.0;

  @media (max-width:768px) {
    font-size: 0.8rem;
  }
}

/*マーカーで下線を引くように見せるCSS*/
.highlight-marker {
  position: relative;
  display: inline-block;
}
.highlight-marker::before {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 30%;
  background-color: rgb(157, 188, 249); /* マーカーの色を設定 */
  opacity: 0.5; /* マーカーの透明度を設定 */
  pointer-events: none; /* マーカーがマウスイベントを受け取らないようにする */
  z-index: -1; /* マーカーをテキストの背後に配置 */
}
@media (max-width: 768px) {
  .highlight-marker::before {
      height: 40%;
      background-color: rgb(157, 188, 249);
      top: 20px;
      opacity: 0.3;
  }
}




/* ホームに戻る */
.return > a {
  width: 10%;
  height: auto;
  top: 1.5rem;
  right: 3%;
  font-size: 1.5rem;
  position: fixed;
  text-align: center;
  z-index: 1;
  opacity: 0.6;

  @media (max-width: 768px) {
      top: 1.5rem;
      right: 5%;
      font-size: 0.8rem;
  }
}
.btn {
  height: auto;
  display: inline-block;
  padding: 0.8em 3em;
  background-color: #3e4885; /* 背景色 */
  box-shadow: 0 5px 0 #323966; /* 影の太さ・色 */
  /* border: solid 0.5px #4753a2; */
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transform: scale(0.9);
  box-shadow: 4px 4px 5px rgb(0, 0, 0);
}
.btn:hover {
  color: #fff;
  background-color: #252fa2;
  transform: scale(1.0);
}
.btn:active {
  box-shadow: none;
  transform: translateY(4px);
}